#response {
    height: 1000px;
    border: 1px solid black;
}

#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}

#loading {
    position: absolute;
    height: 100px;
    width: 100px;
}
