{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Finder</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/vis.min.css' %}">
</head>
<body>
    <div class="container">
        <h2>Search board members and more...</h2>
        <form method="post" id="search_form" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group" >
                <div class="col-md-6">
                    <label class="control-label">Name a board member </label>
                    <input placeholder="Input a name here..." type="text" id="name" name="name" class="form-control">
                    <div id="message"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">How deep search</label>
                    <select name="depth" id="depth" class="form-control">
                        <option value="">Choose a depth</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Start searching" id="button">
            <br>
            <br>
        </form>
        <div id="loading">
            <img src="{% static 'images/ajax-loader.gif' %}" id="loading-indicator" style="display:none" />
        </div>
        <div id="response"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="{% static 'js/vis.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
